
<mat-card class="Card">
    <mat-card-title>
        You can load file with report here
    </mat-card-title>
    <hr>
    <input style="display:none;" id="fileUpload" name="fileUpload" type="file" (change)="onChange($event.target.files)">
    <label class="button" for="fileUpload">
        Select file to upload
    </label>
</mat-card>