
<mat-card class="Card">
    <mat-card-title>
        You can paste report as text here
    </mat-card-title>
    <hr>
    <textarea rows="20" cols="100" matInput placeholder="Copy inventory report content..." (change)="onChange($event.target.value)"></textarea>
</mat-card>