
<mat-card class="Card inventory">
    <mat-card-title>
       Inventory
    </mat-card-title>
    <mat-card-content>
        <div *ngFor="let warehouse of WarehouseList">
            <div class="warehouseTitle">
                {{warehouse.Name}} (total {{warehouse.TotalQuantity}})
            </div>
            <div class="warehouseEntry" *ngFor="let material of warehouse.List">
                {{material.MaterialId}}: {{material.Quantity}}
            </div>
            <br>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button class="button" *ngIf="ShowClearButton()" (click)="ClearWarehouse()">Clear</button>
    </mat-card-actions>
</mat-card>