/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.Card {
    margin:10px;
    padding: 0;
  }

  .flexGrid {
      display: flex;
  }

  .warehouseTitle{
      font-size: 16px;
      background-color: lightblue;
      padding: 5px;
  }

  .warehouseEntry{
    font-size: 16px;
    background-color: lightgray;
    padding: 5px;
    margin-top: 1px;;
  }

  .inventory
  {
      width: 300px;
  }

  .button
  {
      padding: 10px;
      font-weight: bold;
      cursor: pointer;
      border: 1px solid lightgray;
      margin:10px;
      background-color: transparent;
      display: inline-block;
  }

